body {
    text-align: right;
}
.form-group {
    direction: rtl;
    /* display: flex; */
}

label ,h3{
    display: flex;
}


th.ui-datepicker-week-end,
td.ui-datepicker-week-end {
    display: none;
}